/* CSS declarations go here */
.wizard-nav,.steps{text-align: center;}
.steps ol {display: inline-flex;}
.steps ol li {
    margin: 5px;
    padding: 10px;
}
.navbar-toggle .icon-bar {
  background-color: #96c03d;
}
.cd-breadcrumb, .cd-multi-steps {
  width: auto !important;
  max-width: 100% !important;
}
.img-adjust-card {
  margin: 0px auto;
  width: 100%;
  padding: 5%;
}
.slide-banner-left {
  background: rgba(255,255,255,0.1sr);
  padding:10px;
  border-radius: 5px;
  text-shadow: 4px 5px 6px black;
}
@media only screen and (min-width: 768px) {
  .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li {
        width: 60px !important;
  }
}
