<template name="users">
	{{> header}}
	<div class="container">

		{{#if isReady}}
			<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>ID</th>
		        <th>E-mail</th>
		        <th>Ações</th>
		      </tr>
		    </thead>
		    <tbody>
				 {{#each doc in documents}}
					 <tr>
						 <td>{{doc._id}}</td>
						 <td>
							 {{#each doc.emails}}
								 {{address}}
							 {{/each}}
						 </td>
						 <td>
							 <a href="/users/{{doc._id}}" class="btn btn-success"> Ver testes</a>
						 </td>
					 </tr>
			 	 {{/each}}
			 </tbody>
	 </table>

	 	{{> defaultBootstrapPaginator pagination=templatePagination limit=1 containerClass="text-center" onClick=clickEvent}}
 	 {{else}}
		 Carregando...
 	 {{/if}}
	</div>
</template>
