<template name="conheca">
	{{> header}}
  <div class="container">
    <header>
      <h2>Conheça</h2>
    </header>
    <p>
      O aplicativo para mobile é um jogo, um instrumento psicológico para autoconscientização sensorial, cognitiva e corporal dos sentimentos e atos relacionados a vivencia da raiva, da agressividade e do conflito conjugal. É também um suporte educativo desenvolvido pela Profª Drª Adelma Pimentel, coordenadora da pesquisa Homens e mulheres em conflito: um estudo acerca da violência conjugal a partir da psicoterapia na atenção básica de saúde, financiada pelo edital FAPESPA 008/2014.
      O dispositivo é voltado para os homens e casais de  20 a 50 anos, sendo o público alvo principal os homens. O objetivo geral é favorecer a prevenção da violência relacional que ocorre entre casais heterossexuais. Através da interface Psicologia Clínica e Tecnologias de Informática e Comunicação (TIC) foi construído o aplicativo com uma equipe de profissionais: consultora de tecnologia, Prof.ª MS Larissa Sato, programador Igor Gadelha; Assistente de programação João Alves, e Psicólogos que trabalharam na coleta de dados com noventa homens: Marcia Endo, Syrlene, Daniel.
      O aplicativo é de fácil manejo, de modo que os usuários poderão, por exemplo realizar automonitoramento em demandas que podem provocar ações violentas: situações que são facilitadoras para elevação do stress, aborrecimento, agressões verbais, etc. 
      O Núcleo de pesquisas fenomenológicas (NUFEN) considerou na criação do aplicativo que, a tecnologia móvel é de baixo custo e elevado alcance; deste modo, concebeu um aplicativo a ser utilizado no celular, cuja relevância social contribuirá no campo da psicologia clínica fenomenológica gestaltica para fortalecer a saúde do casal, da família e repercutir na segurança pública. 
      Entendemos que o uso do aplicativo pode beneficiar as relações interpessoais, gerar aprendizagens, e a transformação pessoal do homem que está em situação de conflito conjugal. O princípio da contínua abertura à experiência e à incorporação, dentro de si mesmo do processo de mudança são fundamentos filosóficos do aplicativo. Somam-se a estes as premissas dos estudos feministas de gêneros, e direitos humanos.
    </p>
  </div>
</template>
