<template name="termos-de-uso">
	{{> header}}
  <div class="container">
    <header>
      <h2>TERMO DE CONSENTIMENTO PARA USO DO APLICATIVO</h2>
    </header>
    <p>
      O jogo está a sua disposição. Convidamos a jogar e nos ajudar a melhorar a relação entre casais, através do conhecimento de sua experiência. Suas respostas serão tratadas de forma anônima e confidencial, isto é, em nenhum momento será divulgado seu nome em publicações de artigos. Quando for necessário exemplificar determinada situação, a privacidade será assegurada uma vez que o seu nome será substituído por apelidos.
      A participação é voluntária, isto é, a qualquer momento você pode recusar-se a responder qualquer pergunta ou desistir de participar e retirar seu consentimento. A recusa não trará nenhum prejuízo em sua relação com a navegação da página. As informações serão guardadas por cinco (05) anos e incineradas após esse período.
      Você não terá nenhum custo ou quaisquer compensações financeiras, já que os recursos usados são da coordenadora da pesquisa, Prof.ª  Dr.ª Adelma Pimentel. O benefício relacionado à sua participação será de aumentar o conhecimento científico para os casais e a área da Psicologia.
      Se desejar falar com a coordenadora pode usar o e-mail grupoterapeutico.nufen@gmail.com . Desde já agradecemos!

      	Declaro estar ciente do inteiro teor deste TERMO DE CONSENTIMENTO e estou de acordo em participar do estudo proposto, sabendo que dele poderei desistir a qualquer momento, sem sofrer qualquer punição, constrangimento ou prejuízo.

    </p>
  </div>

</template>
