<template name="q8">
	{{#autoForm id="q8" doc=step.data schema=schema }}
		<div class="row center">
		 	<div class="col-md-4 col-md-offset-8">
			 	<div class="card">
			        <div class="card-image">
			            <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
			            <span class="card-title">Material Cards</span>
			        </div>
			        
			        <div class="card-content">	
		    			{{> afQuickField name="qaprecia"}}	
			        </div>
			                
			        <div class="card-action">
	    				{{> wizardButtons}}
			        </div>
			    </div>
			 	
		 	</div> 		
 		</div> 
  {{/autoForm}}
</template>