<template name="q9">
{{#autoForm id="q9" doc=step.data schema=schema }}
		<div class="row ">
		<div class="col-md-8">
			<div class="card">
				<div class="card-image">
			 		<img  class="img-responsive img-adjust-card" src="images/telas/09.png">
			 	</div>
		 	</div>
	 	</div>
		 	<div class="col-md-4">
			 	<div class="card">
			        <div class="card-image">
			            <img class="img-responsive" src="images/nifen.jpg">
			            <span class="card-title">Material Cards</span>
			        </div>

			        <div class="card-content">
		    			{{> afQuickField name="qnaprecia"}}
			        </div>

			        <div class="card-action">
	    				{{> wizardButtons}}
			        </div>
			    </div>

		 	</div>
 		</div>
  {{/autoForm}}
</template>
